  @font-face {
    font-family: 'BrBlack';
    src: url('../../themes/fonts/BRSonoma-Black-BF654c4525506bf.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'BrBlackItalic';
    src: url('../../themes/fonts/BRSonoma-BlackItalic-BF654c45268988e.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'BrBold';
    src: url('../../themes/fonts/BRSonoma-Bold-BF654c4526823f5.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'BrBoldItalic';
    src: url('../../themes/fonts/BRSonoma-BoldItalic-BF654c4525c9c27.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'BrExtraLight';
    src: url('../../themes/fonts/BRSonoma-ExtraLight-BF654c45265af8d.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'BrExtraLightItalic';
    src: url('../../themes/fonts/BRSonoma-ExtraLightItalic-BF654c4525a5046.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'BrLight';
    src: url('../../themes/fonts/BRSonoma-Light-BF654c452608e0f.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'BrLightItalic';
    src: url('../../themes/fonts/BRSonoma-LightItalic-BF654c45266aa83.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'BrMedium';
    src: url('../../themes/fonts/BRSonoma-Medium-BF654c45266edd1.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'BrMediumItalic';
    src: url('../../themes/fonts/BRSonoma-MediumItalic-BF654c45267d45f.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'BrRegular';
    src: url('../../themes/fonts/BRSonoma-Regular-BF654c45266c042.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'BrRegularItalic';
    src: url('../../themes/fonts/BRSonoma-RegularItalic-BF654c452681c11.ttf') format('truetype');
  }